/*Begin here*/
.dropdown{
    position: relative;
    width: 200px;
}
.dropdown .btn{
    width: 100%;
    background: url(./img/arrow-down.png) #00ABE7 ;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    border-radius: 0;
    padding: 10px 20px;
    color: #fff;
    border-radius: 50px;
    border: 0;
}
.dropdown .btn:focus{
    background-color: #00ABE7;
}
.dropdown .btn:active{
    background-color: #0070B4;
}
.dropdown .btn:hover{
    background-color: #7FD5F3 ;
}
.dropdown .btn:disabled{
    background-color: #7FD5F3;
}
.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0px 0px 10px #0000000D;
    border: 1px solid #DDDDDD;
    opacity: 1;
    width: 100%;
    display: none;
}
.dropdown:active .dropdown-menu, .dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown:active .btn{
    background-color: #0070B4;
}
.dropdown-menu .drop-item{
    font: 13px/19px Verdana;
    letter-spacing: 0px;
    color: #333333;
    background: #fff;
    border: 0;
    border-left: 5px solid transparent;
    padding: 12px 20px;
    display: block;
    cursor: pointer;
}
.dropdown-menu .drop-item:hover{
    border-color: #0070B4;
}
